.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
  display: block;
  cursor: pointer;
  outline: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, h1, h2, h3, h4, h5, h6, span {
  letter-spacing: 1px;
}

.clearfix:after, .clearfix:before {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.wb-col-50 {
  width: 50%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-55 {
  width: 55%;
  max-width: 1056px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-60 {
  width: 60%;
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-65 {
  width: 65%;
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-70 {
  width: 70%;
  max-width: 1344px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-75 {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-80 {
  width: 80%;
  max-width: 1536px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-85 {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-90 {
  width: 90%;
  max-width: 1728px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-95 {
  width: 95%;
  max-width: 1824px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-col-100 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-50 {
  width: 50%;
  min-width: 160px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-55 {
  width: 55%;
  min-width: 176px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-60 {
  width: 60%;
  min-width: 192px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-65 {
  width: 65%;
  min-width: 208px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-70 {
  width: 70%;
  min-width: 224px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-75 {
  width: 75%;
  min-width: 240px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-80 {
  width: 80%;
  min-width: 256px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-85 {
  width: 85%;
  min-width: 272px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-90 {
  width: 90%;
  min-width: 288px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-95 {
  width: 95%;
  min-width: 304px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.wb-container-mb-100 {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

@media (min-width: 768px) {
  .wb-container-mb-50 {
    max-width: 384px;
  }
  .wb-container-mb-55 {
    max-width: 422.4px;
  }
  .wb-container-mb-60 {
    max-width: 460.8px;
  }
  .wb-container-mb-65 {
    max-width: 499.2px;
  }
  .wb-container-mb-70 {
    max-width: 537.6px;
  }
  .wb-container-mb-75 {
    max-width: 576px;
  }
  .wb-container-mb-80 {
    max-width: 614.4px;
  }
  .wb-container-mb-85 {
    max-width: 652.8px;
  }
  .wb-container-mb-90 {
    max-width: 691.2px;
  }
  .wb-container-mb-95 {
    max-width: 729.6px;
  }
  .wb-container-mb-100 {
    max-width: 768px;
  }
}
