$cor-1: #6A7650;
$cor-2: #060633;
$cor-3: #F1EF00;
$cor-4: #E25865;

$vermelho_wooble: #FB6876;
$amarelo_wooble: #FFD57C;
$verde_wooble: #50D382;
$azul_wooble: #6A94F6;
$roxo_wooble: #9A80F7;


$cor-branco: #ffffff;
$cor-preto: #000000;
$cor-cinza: #2B2B2B;

$cor-fundo: #FDFBF2;

$cor-twitter: #2FCAEF;

$fonte-exo-black: 'Exo-Black';
$fonte-exo-bold: 'Exo-Bold';
$fonte-exo-regular: 'Exo-Regular';
$fonte-exo-medium: 'Exo-Medium';
$fonte-exo-semibold-italic: 'Exo-Semi-Bold-Italic';
$fonte-exo-extra-bold: 'Exo-Extra-Bold';

$fonte-gobold-regular: 'Gobold';
$fonte-gobold-thin: 'GoboldThin';
$fonte-gobold-bold: 'GoboldBold';
$fonte-gobold-hollow-bold: 'GoboldHollowBold';

$fonte-miracleplacepersonaluse: 'MiraclePlacePersonalUse';

$fonte-nexa-heavy: 'NexaHeavy';
$fonte-nexa-heavy-italic: 'NexaHeavyItalic';
$fonte-nexa-light: 'NexaLight';
$fonte-nexa-light-italic: 'NexaLightItalic';
$fonte-nexa-thin: 'NexaThin';
$fonte-nexa-thin-italic: 'NexaThinItalic';
$fonte-nexa-bold: 'NexaBold';
$fonte-nexa-bold-italic: 'NexaBoldItalic';
$fonte-nexa-black: 'NexaBlack';
$fonte-nexa-black-italic: 'NexaBlackItalic';
$fonte-nexa-regular: 'NexaHeavy';
$fonte-nexa-regular-italic: 'Nexa-Regular-Italic';

$fonte-secundaria-light: 'Avenir Light';
$fonte-secundaria-oblique: 'Avenir Oblique';
$fonte-secundaria-black: 'Avenir Black';
$fonte-secundaria-black-oblique: 'Avenir BlackOblique';
$fonte-secundaria-book: 'Avenir Book';
$fonte-secundaria-book-oblique: 'Avenir BookOblique';
$fonte-secundaria-medium: 'Avenir Medium';
$fonte-secundaria-medium-oblique: 'Avenir MediumOblique';
$fonte-secundaria-heavy: 'Avenir Heavy';
$fonte-secundaria-roman: 'Avenir Roman';

$fonte-assinatura-italic: 'EffraHeavy-Italic';

$fonte-light-avenir: 'Avenir Light';
$fonte-oblique-avenir: 'Avenir Oblique';
$fonte-black-avenir: 'Avenir Black';
$fonte-black-oblique-avenir: 'Avenir BlackOblique';
$fonte-book-avenir: 'Avenir Book';
$fonte-book-oblique-avenir: 'Avenir BookOblique';
$fonte-medium-avenir: 'Avenir Medium';
$fonte-medium-oblique-avenir: 'Avenir MediumOblique';
$fonte-heavy-avenir: 'Avenir Heavy';
$fonte-roman-avenir: 'Avenir Roman';

$fonte-bold-proximanova: 'proximanova-bold';
$fonte-bolditalic-proximanova: 'proximanova-bolditalic';
$fonte-lightitalic-proximanova: 'proximanova-lightitalic';
$fonte-regular-proximanova: 'proximanova-regular';
$fonte-semibold-proximanova: 'proximanova-semibold';

$fonte-gotham-black: 'Gotham-Black';
$fonte-gotham-bold: 'Gotham-Bold';
$fonte-gotham-regular: 'GothamRegular';
$fonte-gotham-extra-light: 'Gotham-ExtraLight';
$fonte-gotham-medium: 'GothamMedium';
$fonte-gotham-narrow-medium: 'GothamNarrow-Medium';
$fonte-gotham-thin: 'Gotham-Thin';


$fonte-tercearia-: '';

$fonte-quaternaria-: '';





/** FONTE AVENIR -  FONTE 1**/
$fonte_avenir_next_regular: 'avenir_next_regular';
$fonte_avenir_next_italic: 'avenir_next_italic';

$fonte_avenir_next_bold: 'avenir_next_bold';
$fonte_avenir_next_bold_italic: 'avenir_next_bold_italic';

$fonte_avenir_next_condensed_demi_bold: 'avenir_next_condensed_demi_bold';
$fonte_avenir_next_condensed_regular: 'avenir_next_condensed_regular';
$fonte_avenir_next_condensed_bold: 'avenir_next_condensed_bold';
$fonte_avenir_next_condensed_italic: 'avenir_next_condensed_italic';
$fonte_avenir_next_condensed_bold_italic: 'avenir_next_condensed_bold_italic';
$fonte_avenir_next_condensed_heavy_italic: 'avenir_next_condensed_heavy_italic';
$fonte_avenir_next_condensed_ultra_light: 'avenir_next_condensed_ultra_light';
$fonte_avenir_next_condensed_demi_bold_italic: 'avenir_next_condensed_demi_bold_italic';
$fonte_avenir_next_condensed_medium_italic: 'avenir_next_condensed_medium_italic';
$fonte_avenir_next_condensed_heavy: 'avenir_next_condensed_heavy';
$fonte_avenir_next_condensed_medium: 'avenir_next_condensed_medium';
$fonte_avenir_next_condensed_ultra_light_italic: 'avenir_next_condensed_ultra_light_italic';

$fonte_avenir_next_demi_bold_italic: 'avenir_next_demi_bold_italic';
$fonte_avenir_next_demi_bold: 'avenir_next_demi_bold';

$fonte_avenir_next_heavy: 'avenir_next_heavy';
$fonte_avenir_next_heavy_italic: 'avenir_next_heavy_italic';

$fonte_avenir_next_medium: 'avenir_next_medium';
$fonte_avenir_next_medium_italic: 'avenir_next_medium_italic';

$fonte_avenir_next_ultra_light: 'avenir_next_ultra_light';
$fonte_avenir_next_ultra_light_italic: 'avenir_next_ultra_light_italic';


/** FONTE GOBOLD FONTE 2**/
$fonte_gobold_regular: 'gobold';
$fonte_gobold_italic: 'gobold_italic';

$fonte_gobold_bold: 'gobold_bold';
$fonte_gobold_bold_italic: 'gobold_bold_italic';

$fonte_gobold_extra: 'gobold_extra';
$fonte_gobold_extra_italic: 'gobold_extra_italic';

$fonte_gobold_high: 'gobold_high';
$fonte_gobold_high_bold: 'gobold_high_bold';
$fonte_gobold_high_bold_italic: 'gobold_high_bold_italic';
$fonte_gobold_high_thin: 'gobold_high_thin';
$fonte_gobold_high_thin_italic: 'gobold_high_thin_italic';
$fonte_gobold_high_italic: 'gobold_high_italic';

$fonte_gobold_thin: 'gobold_thin';
$fonte_gobold_thin_italic: 'gobold_thin_italic';
$fonte_gobold_thin_light: 'gobold_thin_light';

$fonte_gobold_hollow: 'gobold_hollow';
$fonte_gobold_hollow_bold: 'gobold_hollow_bold';
$fonte_gobold_hollow_bold_italic: 'gobold_hollow_bold_italic';
$fonte_gobold_hollow_italic: 'gobold_hollow_italic';

$fonte_gobold_uplow: 'gobold_uplow';
$fonte_gobold_uplow_italic: 'gobold_uplow_italic';

$fonte_gobold_low_plus: 'gobold_low_plus';

$fonte_gobold_lowplus_italic: 'gobold_lowplus_italic';


/** FONTE GONTHAM - FONTE 3*/
$fonte_gotham_narrow_bold: 'gotham_narrow_bold';
$fonte_gotham_narrow_bold_italic: 'gotham_narrow_bold_italic';
$fonte_gotham_narrow_book: 'gotham_narrow_book';
$fonte_gotham_narrow_book_italic: 'gotham_narrow_book_italic';
$fonte_gotham_narrow_black: 'gotham_narrow_black';
$fonte_gotham_narrow_black_italic: 'gotham_narrow_black_italic';
$fonte_gotham_narrow_ultra: 'gotham_narrow_ultra';
$fonte_gotham_narrow_ultra_italic: 'gotham_narrow_ultra_italic';
$fonte_gotham_narrow_light: 'gotham_narrow_light';
$fonte_gotham_narrow_light_italic: 'gotham_narrow_light_italic';
$fonte_gotham_narrow_xlight: 'gotham_narrow_xlight';
$fonte_gotham_narrow_xlight_italic: 'gotham_narrow_xlight_italic';
$fonte_gotham_narrow_medium: 'gotham_narrow_medium';
$fonte_gotham_narrow_medium_italic: 'gotham_narrow_medium_italic';

$fonte_gotham_rounded_bold: 'gotham_rounded_bold';
$fonte_gotham_rounded_bold_italic: 'gotham_rounded_bold_italic';
$fonte_gotham_rounded_book: 'gotham_rounded_book';
$fonte_gotham_rounded_book_italic: 'gotham_rounded_book_italic';
$fonte_gotham_rounded_light: 'gotham_rounded_light';
$fonte_gotham_rounded_light_italic: 'gotham_rounded_light_italic';
$fonte_gotham_rounded_medium: 'gotham_rounded_medium';
$fonte_gotham_rounded_medium_italic: 'gotham_rounded_medium_italic';

$fonte_gotham_bold_italic: 'gotham_bold_italic';

$fonte_gotham_black: 'gotham_black';
$fonte_gotham_black_italic: 'gotham_black_italic';

$fonte_gotham_thin: 'gotham_thin';
$fonte_gotham_thin_italic: 'gotham_thin_italic';

$fonte_gotham_book: 'gotham_book';
$fonte_gotham_book_italic: 'gotham_book_italic';

$fonte_gotham_light: 'gotham_light';
$fonte_gotham_light_italic: 'gotham_light_italic';

$fonte_gotham_condensed_light: 'gotham_condensed_light';
$fonte_gotham_condensed_bold: 'gotham_condensed_bold';
$fonte_gotham_condensed_book: 'gotham_condensed_book';
$fonte_gotham_condensed_medium: 'gotham_condensed_medium';

$fonte_gotham_extra_light: 'gotham_extra_light';
$fonte_gotham_extra_light_italic: 'gotham_extra_light_italic';

$fonte_gotham_ultra: 'gotham_ultra';
$fonte_gotham_ultra_italic: 'gotham_ultra_italic';

$fonte_gotham_medium: 'gotham_medium';
$fonte_gotham_medium_italic: 'gotham_medium_italic';

/** FONTE MUSEO - FONTE 4*/
$fonte_museo_100_regular: 'museo_100_regular';
$fonte_museo_300_regular: 'museo_300_regular';
$fonte_museo_500_regular: 'museo_500_regular';
$fonte_museo_900_regular: 'museo_900_regular';

$fonte_museo_slab_100: 'museo_slab_100';
$fonte_museo_slab_300: 'museo_slab_300';
$fonte_museo_slab_500: 'museo_slab_500';
$fonte_museo_slab_700: 'museo_slab_700';
$fonte_museo_slab_1000: 'museo_slab_1000';
$fonte_museo_slab_700_italic: 'museo_slab_700_italic';
$fonte_museo_slab_100_italic: 'museo_slab_100_italic';
$fonte_museo_slab_300_italic: 'museo_slab_300_italic';
$fonte_museo_sans_500_italic: 'museo_sans_500_italic';
$fonte_museo_slab_900_italic: 'museo_slab_900_italic';
$fonte_museo_slab_500_italic: 'museo_slab_500_italic';
$fonte_museo_sans_700_italic: 'museo_sans_700_italic';
$fonte_museo_slab_1000_italic: 'museo_slab_1000_italic';

$fonte_museo_sans_100: 'museo_sans_100';
$fonte_museo_sans_300: 'museo_sans_300';
$fonte_museo_sans_500: 'museo_sans_500';
$fonte_museo_sans_700: 'museo_sans_700';
$fonte_museo_slab_900: 'museo_slab_900';

$fonte_museo_sans_100_italic: 'museo_sans_100_italic';
$fonte_museo_sans_300_italic: 'museo_sans_300_italic';
$fonte_museo_sans_900_italic: 'museo_sans_900_italic';


/** FONTE ROBOTO - FONTE 5 */
$fonte_roboto_regular: 'roboto_regular';
$fonte_roboto_italic: 'roboto_italic';

$fonte_roboto_bold: 'roboto_bold';
$fonte_roboto_bold_italic: 'roboto_bold_italic';

$fonte_roboto_condensed_bold_italic: 'roboto_condensed_bold_italic';
$fonte_roboto_condensed_light: 'roboto_condensed_light';
$fonte_roboto_condensed_bold: 'roboto_condensed_bold';
$fonte_roboto_condensed_light_italic: 'roboto_condensed_light_italic';
$fonte_roboto_condensed_regular: 'roboto_condensed_regular';
$fonte_roboto_condensed_italic: 'roboto_condensed_italic';

$fonte_roboto_slab_bold: 'roboto_slab_bold';
$fonte_roboto_slab_thin: 'roboto_slab_thin';
$fonte_roboto_slab_light: 'roboto_slab_light';
$fonte_roboto_slab_regular: 'roboto_slab_regular';

$fonte_roboto_light: 'roboto_light';
$fonte_roboto_light_italic: 'roboto_light_italic';

$fonte_roboto_medium: 'roboto_medium';
$fonte_roboto_medium_italic: 'roboto_medium_italic';

$fonte_roboto_thin: 'roboto_thin';
$fonte_roboto_thin_italic: 'roboto_thin_italic';

$fonte_roboto_black: 'roboto_black';
$fonte_roboto_black_italic: 'roboto_black_italic';




