@import '_padrao';
@import '_reset';
@import '_variables';

.container-size-1 {
  width: 90%;
  max-width: 1800px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.container-1 {
  width: 95%;
  height: 100%;
  max-width: 1800px;
}

.centraliza {
  margin: 0 auto;
}

.margin-container {
  display: flex;
  flex-grow: 1;
  background: $azul_wooble !important;
  opacity: 0.7;

}

.container-95 {
  flex-grow: 1;
  flex-basis: 95%;
  margin: 0 5px;
}

.container-90 {
  flex-grow: 1;
  flex-basis: 90%;
  margin: 0 5px;
}

.container-85 {
  flex-grow: 1;
  flex-basis: 85%;
  margin: 0 5px;
}

.container-80 {
  flex-grow: 1;
  flex-basis: 80%;
  margin: 0 5px;
}

.container-75 {
  flex-grow: 1;
  flex-basis: 75%;
  margin: 0 5px;
}

.container-70 {
  flex-grow: 1;
  flex-basis: 70%;
  margin: 0 5px;
}

$max: 100;
$step: 5;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step + 5;
  .col-#{$value} {
    width: round(percentage($value/100));
    height: 100%;
    float: left;
  }
}

.wb-flex-row{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.linha {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  background: #00C2FF;
}

.titulo {

  &[data-fonte='w001'] {
    //@include fontfamily($)
  }
}

.subtitulo {

}

.coluna {

  p {

    font-size: 24px;

    &.peq {
      font-size: 80%;
    }
  }
}

header {
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include display-flex(nowrap, center, space-between);

  .logo-header {
    @include display-flex(nowrap, flex-end, flex-start);
    svg {
      width: 150px;
      height: 35px;
      fill: #fff !important;
    }

    span {
      font-family: "Lato Black";
      padding-left: 15px;
      text-transform: uppercase;
      color: #FFF;
    }
  }

}

section {
  width: 100%;

  .container-secao {
    height: 100%;
    padding-top: 100px;
    display: table;

    .coluna {
      height: 100%;
      float: left;

      nav {
        a {
          width: 100%;
          font-family: 'Lato-Regular', sans-serif;
          font-size: 15px;
          margin: 15px 0;
          color: #bdbdc0;

          &.ativo {
            color: #000000;
          }
        }
      }

      .aba-coluna {
        width: 100%;
        display: none;

        &.ativo {
          display: block;
        }

        p {
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          color: #4a4a4c;
          margin: 3px 0;

          &.nt {
            color: $azul_wooble;
          }

          &.na {
            color: $vermelho_wooble;
          }

          &.s {
            color: $roxo_wooble;
          }
        }

        .wb-btn {
          background: $azul_wooble;
          margin-right: 10px;
          font-family: "Lato Black";
          color: #fff;

          &:hover{
            background: rgba($azul_wooble, 0.8);
          }
        }

        .wb-btn-redondo {
          background: $verde_wooble;
          color: #fff;
          margin-right: 10px;
        }

        .wb-btn-contorno {
          background: transparent;
          border-color: $vermelho_wooble;
          color: $vermelho_wooble;
        }

        .wb-col{
          padding: 5px;
          @include display-flex();
          background: #f9fafb;
          border: 1px solid #d9dadb;
        }

        .tabela-coluna{
          margin-bottom: 20px;
        }

        .item-aba {
          width: 100%;
          height: auto;
          margin-bottom: 10px;

          h4 {
            width: 100%;
            font-family: 'Lato Black', sans-serif;
            font-size: 22px;
            color: #4a4a4c;
            margin-bottom: 10px;
          }

          p {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            color: #848487;
          }

          .exemplo-html {
            width: 100%;
            padding: 20px;
            border: 2px solid #f8f9fa;
            background: #FFF;
            margin: 15px 0 5px;
            border-radius: 5px;

            &.linha {
              @include display-flex(nowrap, center, flex-start);
            }

            &.coluna {
              @include display-flex(nowrap, flex-start, center, column);
            }

            .item-exemplo {
              height: 100px;
              @include radius(10px);
              @include display-flex(wrap, center, center, column);
              background: #9b9c9d;
            }

            .col-lin{

              .item-col-lin{
                height: 80px;
                font-family: 'Lato';
                font-size: 14px;
                color: #4a4a4c;
                @include display-flex();
                background: #ecedee;
                border: 1px solid #c2c3c4;
              }
            }
          }

          .codigo-html {
            width: 100%;
            background: #f8f9fa;
            padding: 20px;
            border: 2px solid #f8f9fa;
            margin-bottom: 30px;
            @include display-flex(wrap, flex-start, flex-start, column);
          }
        }
      }

      &:first-child {
        width: 300px;
        //background: #f8f8f8;
      }

      &:nth-child(2) {
        width: calc(100% - 600px);
        padding: 0 20px;
      }

      &:last-child {
        width: 300px;
        //background: #f8f8f8;
      }
    }

    h1 {
      font-family: 'Lato Black', sans-serif;
      margin-bottom: 25px;
      font-size: 30px;
      color: #39393b;
    }

    .item-container {
      height: 100px;
      margin: 20px 0;
      background: #c6c6c6;
      @include radius(5px);
      @include display-flex(wrap, center, center, column);

      h4 {
        font-family: 'Lato Black', sans-serif;
        font-size: 16px;
        color: #4a4a4c;
        margin: 3px 0;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        color: #4a4a4c;
        margin: 3px 0;
      }
    }
  }

  .container-secao-2{
    height: 400px;
    background: #9999;

    .coluna{

      &:first-child{
        background: #00CC00;
      }

      &:last-child{
        background: #0e90d2;
      }
    }

  }
}

footer {
  width: 100%;
  height: 50px;
  background-color: #000;
}

@media (max-width: 768px) {

  section {
    &.inicio {
      .content-inicio {
        padding-bottom: 10%;
        .main-subheading {
          font-size: 23px;
        }
      }
    }
  }
}
