@import '_padrao';
@import '_reset';
@import '_variables';

section {
  &.exemplo-1 {
    height: 100vh;
    padding-top: 100px;

    .container-exemplo {
      height: 100%;
    }

    .box {
      height: 70px;
      background: #00CC00;

      &:first-child {
        background: #00AA88;
      }

      &:last-child {
        background: #00AA88;
      }
      // margin: 10px;
    }
  }

  &.sobre-1 {
    height: 100vh;
    padding-top: 145px;
    padding-bottom: 75px;
    @include display-flex(wrap, flex-start, flex-start);

    .conteudo-sobre {
      height: calc(100% - 200px);
      @include display-flex(wrap, center, flex-start);
      position: relative;

      .wb-titulo {
        margin-bottom: 25px;
      }

      .wb-texto {
        height: 325px;
        overflow: auto;
      }

      .img-sobre {
        width: calc(100% - 40%);
        height: 590px;
        object-fit: cover;
        background: #d7d7d7;
        position: absolute;
        top: 5%;
        right: 0;
        z-index: -1;
      }
    }
  }

  &.sobre-3 {
    height: 100vh;
    padding-top: 145px;
    padding-bottom: 75px;
    @include display-flex(wrap, flex-start, flex-end, column);

    .conteudo-sobre {
      padding-bottom: 75px;
      position: relative;

      .wb-titulo {
        margin-top: 70px;
      }

      .wb-texto {
        height: 325px;
        overflow: auto;
      }
    }
  }

  &.noticia-1{
    height: 100vh;
    padding-top: 145px;
    padding-bottom: 75px;
  }
}