@import "../utilitarios/_variaveis";

$background-cor: $branco;
$borda-cor: $cinza;
$texto-cor: $preto;

/* region WOOBLE BOTAO */

.wb-btn {
  padding: 13px 45px;
  display: inline-block;
  @include fontsize($tamanho-6);
  background-color: $cinza-escuro;
  color: $branco;
  text-align: center;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  @include transition();

  &.wb-pequeno {
    padding: 11px 40px;
    @include fontsize($tamanho-7);
  }

  &.wb-medio {
    padding: 13px 45px;
    @include fontsize($tamanho-6);
  }

  &.wb-grande {
    padding: 15px 50px;
    @include fontsize($tamanho-5);
  }

  &.wb-extra {
    padding: 17px 55px;
    @include fontsize($tamanho-3);
  }

  &.wb-bloco {
    width: 100%;
  }

  &.wb-redondo {
    @include radius(40px);
  }

  &.wb-contorno {
    border: 1px solid;
    border-color: $borda-cor;
  }

  &.wb-circulo {
    padding: 8px;
    border-radius: 50%;

    svg{
      width: 10px;
      height: 10px;
    }
  }

  &.wb-carregando {
    position: relative;
    color: transparent !important;

    &:before {
        content: '';
        height: 14px;
        width: 14px;
        animation: rotate 0.6s infinite linear;
        border: 2px solid $branco;
        border-right-color: transparent;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 8px);

        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

    svg{
      z-index: -1;
    }
  }

  &.wb-link {
    padding: 0;
    background-color: transparent;

    &:hover {
      opacity: .7;
    }
  }

  &.wb-icone {

  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .8;
  }

  &:hover {
    @include transition();
    background-color: rgba($cinza-escuro, .7);
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: 1366px) {
  .wb-btn {
    padding: 10px 35px;
    @include fontsize(14);

    &.wb-medio {
      padding: 10px 35px;
      @include fontsize(14);
    }
  }
}
/* endregion */