@mixin fontfamily($nome-fonte) {
    font-family: $nome-fonte;
}

@mixin fontsize($size: 16, $base: 16) {
    font-size: $size + px;
    font-size: ($size/$base) * 1rem;
}

@mixin transform($valor) {
    transform: $valor;
    -webkit-transform: $valor;
    -moz-transform: $valor;
    -ms-transform: $valor;
    -o-transform: $valor;
}

@mixin transition($valor: 0.3s) {
    transition: $valor;
    -webkit-transition: $valor;
    -moz-transition: $valor;
    -ms-transition: $valor;
    -o-transition: $valor;
}

@mixin skew($valor1: -15deg, $valor2: 0deg) {
    transform: skew($valor1, $valor2);
    -webkit-transform: skew($valor1, $valor2);
    -moz-transform: skew($valor1, $valor2);
    -ms-transform: skew($valor1, $valor2);
    -o-transform: skew($valor1, $valor2);
}

@mixin box-shadow($valor1, $valor2, $valor3, $fundo) {
    box-shadow: $valor1 $valor2 $valor3 $fundo;
    -webkit-box-shadow: $valor1 $valor2 $valor3 $fundo;
    -moz-box-shadow: $valor1 $valor2 $valor3 $fundo;
}

@mixin radius($valor1: 4px) {
    border-radius: $valor1;
    -webkit-border-radius: $valor1;
    -moz-border-radius: $valor1;
}

@mixin radius-top-left($valor1: 4px) {
    border-top-left-radius: $valor1;
    -webkit-border-top-left-radius: $valor1;
    -moz-border-top-left-radius: $valor1;
}

@mixin radius-bottom-left($valor1: 4px) {
    border-bottom-left-radius: $valor1;
    -webkit-border-bottom-left-radius: $valor1;
    -moz-border-bottom-left-radius: $valor1;
}

@mixin radius-top-right($valor1: 4px) {
    border-top-right-radius: $valor1;
    -webkit-border-top-right-radius: $valor1;
    -moz-border-top-right-radius: $valor1;
}

@mixin radius-bottom-right($valor1: 4px) {
    border-bottom-right-radius: $valor1;
    -webkit-border-bottom-right-radius: $valor1;
    -moz-border-bottom-right-radius: $valor1;
}

@mixin box-sizing() {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin display-flex($wrap: wrap, $alignItems: center, $justifyContent: center, $direction: row) {
    display: flex;
    flex-wrap: $wrap;
    -webkit-align-items: $alignItems;
    align-items: $alignItems;
    justify-content: $justifyContent;
    -webkit-justify-content: $justifyContent;
    flex-direction: $direction;
}

@mixin placeholder($cor: #000) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $cor;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $cor;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: $cor;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $cor;
    }
}

@mixin grayscale($valor1) {
    -webkit-filter: grayscale($valor1);
    -moz-filter: grayscale($valor1);
    -ms-filter: grayscale($valor1);
    -o-filter: grayscale($valor1);
    filter: grayscale($valor1);
}

.box-sizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}