// Colors
@import '_padrao';

$preto: rgb(0, 0, 0) !default;
$dark-3: rgb(54, 54, 54) !default;
$dark-2: rgb(128, 128, 128) !default;
$dark-1: rgb(169, 169, 169) !default;
$branco: rgb(255, 255, 255) !default;
$alerta: rgb(255, 160, 0) !default;
$perigo: rgb(255, 25, 10) !default;
$sucesso: rgb(0, 255, 70) !default

// Size
$size-1: 0.5rem !default // 8px
$size-2: 0.75rem !default // 12px
$size-3: 1rem !default // 16px
$size-4: 1.25rem !default // 20px
$size-5: 1.5rem !default // 24px
$size-6: 2rem !default // 32px
$size-7: 2.5rem !default // 40px
$size-8: 3rem !default //48px
$size-9: 3.5rem !default //56px




