@import "../utilitarios/_variaveis";

.wb-formulario {
  margin-top: 20px;
  margin-bottom: 20px;

  .wb-campos {
    position: relative;
    margin-bottom: 10px;

    label {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      @include fontsize($tamanho-6);
      margin-bottom: 5px;
      color: $cinza-claro;
    }

    input, select, textarea {
      width: 100%;
      padding: 8px 12px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      @include fontsize($tamanho-6);
      background-color: $branco;
      color: $cinza-escuro;
      border: 1px solid;
      border-color: $cinza-claro;
      @include radius(5px);
      margin-top: 5px;
      outline: none;
    }

    option {
      color: $preto;
    }

    &.wb-flutuante {
      margin-bottom: 20px;

      input, select, textarea {
        padding: 8px 0;
        margin-top: 0;
        background-color: transparent;
        @include radius(0);
        border: none;
        border-bottom: 1px solid;
      }

      label {
        position: absolute;
        @include fontsize($tamanho-7);
        top: -5px;
        @include transition();
        opacity: 0;
        margin-bottom: 0;
      }

      input:required:valid ~ label,
      select:required:valid ~ label,
      textarea:required:valid ~ label {
        opacity: 1;
        top: -12px;
        @include transition();
      }

      /*input:focus,
      select:focus,
      textarea:focus{
        border-bottom-color: #1E90FF;
      }*/
    }

    &.wb-placeholder {
      margin-bottom: 20px;

      label {
        position: absolute;
        @include fontsize($tamanho-7);
        top: -5px;
        @include transition();
        opacity: 0;
        margin-bottom: 0;
      }

      input:required:valid ~ label,
      select:required:valid ~ label,
      textarea:required:valid ~ label {
        opacity: 1;
        top: -12px;
        @include transition();
      }
    }

    .wb-mensagem {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      @include fontsize($tamanho-7);
      color: $perigo;
    }
  }
}