// Colors
@import '_padrao';

$preto: rgb(0, 0, 0) !default;

$cinza-escuro: rgb(54, 54, 54) !default;

$cinza: rgb(128, 128, 128) !default;

$cinza-claro: rgb(169, 169, 169) !default;

$branco: rgb(255, 255, 255) !default;

$alerta: rgb(255, 160, 0) !default;

$perigo: rgb(255, 25, 10) !default;

$sucesso: rgb(0, 255, 70) !default


// Typografia

$tamanho-1: 48 !default
$tamanho-2: 40 !default
$tamanho-3: 32 !default
$tamanho-4: 24 !default
$tamanho-5: 20 !default
$tamanho-6: 16 !default
$tamanho-7: 12 !default









